/* Basic CSS for the navigation bar */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: black;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  
  nav ul {
    list-style-type: none;
    /* padding: 0; */
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  /* Basic CSS for the form elements */
  body {
    font-family: Arial, sans-serif;
    /* margin: 20px; */
    background-image: url('nynewnew.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
  }
  
  h1 {
    margin-bottom: 20px;
    color: white;
  }
  
  div {
    margin-bottom: 10px;
  }
  
  label {
    display: inline-block;
    width: 100px;
  }
  
  input[type="text"],
  input[type="number"],
  select {
    width: 200px;
    padding: 5px;
  }
  
  button {
    padding: 7px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  /* Basic CSS for the report section */
  h2 {
    margin-top: 30px;
  }
  
nav ul .container {
    display: inline-block;
    background-color: white;
    border-radius: 15px;
    padding: 5px;
}    

nav ul .container input[type="text"],
select {
  color: green;  
  width: 200px;
  padding: 5px;
  border: none;
}

.social-media {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    left: 20px;
}

.social-media a {
    display: block;
    color: white;
    font-size: 24px;
    margin: 40px 0;
    text-decoration: none;
}

.container {
    margin-left: 100px; /* Adjust this value to create space for the icons */
}

.social-media::before {
    content: '';
    position: absolute;
    top: -80px; /* Adjust this value to position the line above the icons */
    left: 50%;
    transform: translateX(-50%);
    width: 1px; /* Width of the line */
    height: 100px; /* Height of the line */
    background-color: white; /* Color of the line */
}

.container-h h1 {
    color: white;
    font-size: 60px;
    width: 20px;
    padding-top: 150px;
    padding-left: 150px;
}

.container-h p {
    color: white;
    font-size: 20px;
    width: 400px;
    padding: 0px;
    margin-top: 0px;
    margin-left: 150px;
}   

.container-h button {
    margin-left: 150px;
    margin-top:50px;
}

.container-a h1 {
    color: white;
    font-size: 60px;
    padding-top: 150px;
    padding-left: 150px;
}

.container-a p {
    color: white;
    font-size: 20px;
    width: 1200px;
    padding: 0px;
    margin-top: 0px;
    margin-left: 150px;
}

.team-container {
    display: flex;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    margin-left: 200px;
}

.team-container h1 {
    padding: 20px;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-right: 100px;
    width: 50px;
}

.team-members {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.team-member {
    padding: 20px;
    margin: 50px;
    margin-top: 0px;
    border-radius: 10px;
    width: 250px;
}    

.team-member img {
    width: 20%;
    border-radius: 50%;
}

.team-member h3 {
    margin: 10px 0;
    color: white;
}

.team-member p {
    display: flex;
    font-size: 14px;
    color: white;
    margin: 10px 0;
}

.team-member button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.team-member button:hover {
    background-color: #0056b3;
}

label {
    color: white;
}

.form-container {
    flex: 1;
    margin-left: auto; /* Aligns the form to the right */
}

#result{
  display: flex;  
  height: 800px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  margin-top: 0px;
}
#result img{
    width: 400px;
    height: auto;
}

.container-r {
    display: flex;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    margin-left: 200px;
    position: absolute;
    top: 20px; /* Adjust this value to position the line above the icons */
    left: 50%;
}

.box {
    flex: 1;
    padding: 20px;
    margin: 50px;
}

.box h2 {
    color: black;
}

.box p {
    color: lightgray;
}

.box button {
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}


